@import "resources/sass/_variables.scss";
@import "resources/sass/_responsive.scss";

$color-one: #e4e6e5;
$color-two: #9d8c5d;
$color-three: white;
$color-four: #f1f4fb;

$accent-three: #737d58;
$accent-four: #50645f;

$button-colour: $color-two;
$button-shadow: #a8a8a85c;

$sidenav-width: 230px;

.main {
    display: flex;

    .invisible {
        opacity: 0;
    }

    .fade-in {
        opacity: 1;
        transition: 1.5s all ease-out;
        transform: scale(1);
    }

    .side-nav {
        background-color: $color-three;
        position: sticky;
        width: $sidenav-width;
        border-right: 1px solid #0000001c;
        position: -webkit-sticky;
        position: sticky;
        top: 0;

        @media #{$mobile} {
            display: none;
        }

        .initials,
        .button {
            color: $color-two;
        }

        .initials {
            font-size: 35px;
            text-align: center;
            padding: 30px;
            background-color: $color-three;
            position: sticky;
            top: 0;
        }

        .button-container {
            position: sticky;
            top: 275px;
        }

        .button {
            padding: 0 38px;
            margin: 10px;
            font-size: 22px;
            border-radius: 5px;
            height: 48px;
            display: flex;
            align-items: center;

            &:hover {
                color: white;
                background-color: $button-colour;
                box-shadow: 5px 10px $button-shadow;
                cursor: pointer;
                text-decoration: none;
            }

            .fas,
            .far,
            .fa {
                margin-right: 12px;
            }
        }
    }

    .background-img {
        background: url('/images/abstract-background-wide.jpg');
        background-position: center;
        background-size: inherit;
    }

    .faded-overlay {
        height: 100%;
        width: 100%;
        background-color: #ffffffde;
        padding: 25px;
    }

    .content {
        width: 100%;
        background-color: $color-three;

        .pop-out-container {
            width: calc(100% - $sidenav-width);
            position: absolute;
            top: 895px;
        }

        .pop-out {
            background-color: white;
            border: 1px solid #8080804f;
            border-radius: 50px;
            width: 440px;
            display: flex;
            padding: 15px;
            bottom: 40px;
            margin: auto;
            text-align: center;
            box-shadow: 6.2px 12.5px 12.5px hsla(0, 0%, 0%, 0.12);

            div {
                width: 33.3%;
            }

            .center {
                border-left: 2px solid #00000042;
                border-right: 2px solid #00000042;
            }
        }

        .about,
        .skills,
        .works,
        .contact {
            height: 50vh;

            .header {
                display: flex;
                margin-bottom: 20px;

                hr {
                    width: 40px;
                    margin-top: 12px;
                    border-top: 2px solid rgba(0, 0, 0, 0.45);
                }
            }

            .card {
                padding: 40px;
                background-color: transparent;
                border: none;

                svg,
                img {
                    width: 70px;
                }
            }
        }

        .home {
            display: flex;
            height: 100vh;
            background-color: $color-one;

            h1 {
                font-weight: bold;
            }

            @media #{$mobile} {
                flex-direction: column;
            }

            .left {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 50%;
                padding: 50px;

                @media #{$mobile} {
                    width: 100%;
                    margin: 20px auto auto auto;
                }

                h2 {
                    font-weight: bold;
                }

                .style {
                    color: $color-two;
                    font-weight: bold;
                }

                .btn-container {
                    display: flex;

                    .resume-btn,
                    .contact-btn {
                        padding: 10px 20px;
                        border-radius: 25px;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .resume-btn {
                        color: white;
                        margin-right: 20px;
                        background-color: $color-two;
                    }

                    .contact-btn {
                        border: 1px solid $color-two;
                    }
                }
            }

            .right {
                width: 50%;
            }
        }

        .about {
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 45vh;

            .faded-overlay {
                display: flex;
                flex-direction: row;

                .left {
                    width: 50%;
                }

                .right {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    justify-content: space-evenly;

                    .header {
                        font-weight: bold;
                    }

                    .description {}

                    .info-container {

                        .name,
                        .phone,
                        .email {
                            display: flex;
                        }
                    }
                }
            }
        }

        .skills {
            background-color: $color-one;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 40vh;
            padding: 25px;

            .skills-header {
                margin: 0 auto 30px auto;
                font-weight: bold;
            }

            .skills-container {
                display: flex;

                .left {
                    padding-left: 50px;

                    .skill-container {
                        margin-bottom: 20px;
                    }
                }

                .right {
                    padding-right: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }

                .left,
                .right {
                    width: 50%;
                }

                .skill-container {
                    width: 90%;

                    .header {
                        width: auto;

                        span {
                            margin-left: auto;
                        }
                    }

                    .skill-bar {
                        height: 10px;
                        border: 1px solid #00000042;
                    }

                    #barBackground {
                        width: 100%;
                        background-color: #fff;
                    }

                    .bar {
                        height: 10px;
                        background-color: $color-two;
                    }

                    #vue,
                    #php,
                    #mysql,
                    #html,
                    #cssScss {
                        width: 1%;
                    }
                }
            }
        }

        .education-work {
            height: 40vh;

            .faded-overlay {
                .education-header {
                    text-align: center;
                    margin: 30px 0 50px 0;
                    font-weight: bold;
                }

                .education-container {
                    display: flex;
                    flex-direction: row;

                    .education,
                    .experience {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .header {
                            margin-bottom: 15px;
                        }

                        .content-container {
                            display: flex;
                            margin-bottom: 15px;

                            .left {
                                margin-right: 15px;

                                .fa {
                                    color: #9d8c5d;
                                }
                            }
                        }
                    }

                    .education {
                        padding-left: 50px;
                        padding-right: 10px;

                        .header {
                            text-align: right;
                        }

                        .content-container {
                            justify-content: end;

                            .right {
                                .fa {
                                    color: #9d8c5d;
                                }
                            }
                        }
                    }

                    .experience {
                        padding-right: 50px;
                        padding-left: 10px;
                    }
                }
            }
        }

        .product {
            height: 50vh;
            background-color: $color-one;
            padding: 25px;

            .skills-header {
                text-align: center;
                font-weight: bold;
            }

            .top,
            .bottom {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }

            .offer-container {

                .fa {
                    position: relative;
                    top: 14px;
                    left: 30px;
                    background-color: $color-two;
                    padding: 10px;
                    border-radius: 10px;
                    color: white;
                    box-shadow: 2.9px 8px 3.3px rgba(0, 0, 0, 0.48);
                }

                .offer-box {
                    border: 1px solid #00000030;
                    border-radius: 5px 25px 5px 5px;
                    padding: 20px;
                    width: 280px;
                    height: 140px;

                    .header {
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .recent-works {
            height: 40vh;

            .faded-overlay {
                .header {
                    text-align: center;
                    font-weight: bold;
                }

                .works-container {
                    display: flex;
                    flex-direction: column;

                    .top,
                    .bottom {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        padding: 15px 0;

                        .work {
                            height: 120px;
                            width: 180px;
                            background-color: grey;
                            border-radius: 10px;
                            border: 1px solid rgba(0, 0, 0, 0.274);

                            &:hover {
                                cursor: pointer
                            }
                        }
                    }
                }
            }
        }

        .contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 40vh;
            background-color: $color-one;
            padding: 25px 20%;

            .heading {
                text-align: center;
                font-weight: bold;
            }

            .contact-container {
                display: flex;
                flex-direction: column;

                .fa {
                    font-size: 40px;
                }

                #group-contact,
                #group-message {

                    #name,
                    #subject {
                        margin-bottom: 1rem;
                    }
                }

                .form-control {
                    border-radius: 10px;
                }

                .btn-container {
                    display: flex;
                    justify-content: center;

                    .btn {
                        background-color: $color-two;
                        border-color: $color-two;
                        border-radius: 25px;
                    }
                }
            }
        }

        .footer {
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .modal-content {
        border-radius: 15px;
        height: 320px;
    }

    .modal-backdrop {
        opacity: 0.5 !important;
    }

}