@import "resources/sass/_variables.scss";
@import "resources/sass/_responsive.scss";

$color-one: #e4e6e5;
$color-two: #9d8c5d;
$color-three: white;
$color-four: #f1f4fb;

$accent-three: #737d58;
$accent-four: #50645f;

$button-colour: $color-two;
$button-shadow: #a8a8a85c;

$sidenav-width: 230px;

.main {
    display: flex;

    .invisible {
        opacity: 0;
    }

    .fade-in {
        opacity: 1;
        transition: 1.5s all ease-out;
        transform: scale(1);
    }

    .side-nav {
        background-color: $color-three;
        position: sticky;
        width: $sidenav-width;
        border-right: 1px solid #0000001c;
        position: -webkit-sticky;
        position: sticky;
        top: 0;

        @media #{$mobile} {
            display: none;
        }

        .initials,
        .button {
            color: $color-two;
        }

        .initials {
            font-size: 35px;
            text-align: center;
            padding: 30px;
            background-color: $color-three;
            position: sticky;
            top: 0;
        }

        .button-container {
            position: sticky;
            top: 275px;
        }

        .button {
            padding: 0 38px;
            margin: 10px;
            font-size: 22px;
            border-radius: 5px;
            height: 48px;
            display: flex;
            align-items: center;

            &:hover {
                color: white;
                background-color: $button-colour;
                box-shadow: 5px 10px $button-shadow;
                cursor: pointer;
                text-decoration: none;
            }

            .fas,
            .far,
            .fa {
                margin-right: 12px;
            }
        }
    }

    .background-img {
        background: url('/images/abstract-background-wide.jpg');
        background-position: center;
        background-size: inherit;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .faded-overlay {
        height: 100%;
        width: 100%;
        background-color: #ffffffde;
        padding: 25px;
    }

    .content {
        width: 100%;
        background-color: $color-three;

        .pop-out-container {
            width: calc(100% - $sidenav-width);
            position: absolute;
            top: 895px;
        }

        .pop-out {
            background-color: white;
            border: 1px solid #8080804f;
            border-radius: 50px;
            display: flex;
            padding: 15px;
            bottom: 40px;
            margin: auto;
            text-align: center;
            box-shadow: 6.2px 12.5px 12.5px hsla(0, 0%, 0%, 0.12);
            width: 650px;
            height: 80px;
            justify-content: center;

            div {
                width: 33.3%;
            }

            .stack {
                background: url("../../../public/assets/stack.svg");
            }

            .client {
                background: url("../../../public/assets/client.svg");
            }

            .question {
                background: url("../../../public/assets/question.svg");
            }

            .stack,
            .client,
            .question {
                height: 23px;
                width: 23px;
                margin-right: 10px;
                background-repeat: no-repeat;
            }

            .left,
            .center,
            .right {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                color: #646363;
            }

            .left,
            .right {
                width: 28%;
            }

            .center {
                width: 41.3%;
                border-left: 2px solid #00000042;
                border-right: 2px solid #00000042;
            }
        }

        .about,
        .skills,
        .works,
        .contact {
            height: 50vh;

            .header {
                text-align: center;
                margin-bottom: 20px;

                hr {
                    width: 40px;
                    margin-top: 12px;
                    border-top: 2px solid rgba(0, 0, 0, 0.45);
                }
            }

            .card {
                padding: 40px;
                background-color: transparent;
                border: none;

                svg,
                img {
                    width: 70px;
                }
            }
        }

        .home {

            display: flex;
            height: 100vh;
            contain: content;

            h1 {
                font-weight: bold;
                font-size: 49px;
            }

            .style {
                font-size: 24px;
            }

            @media #{$mobile} {
                flex-direction: column;
            }


            .faded-overlay {
                position: absolute;
                z-index: 1;
                background-color: unset;
                background-image: linear-gradient(to right, #e4e6e5 50%, #e4e6e500 70%, #fff0);
            }

            .left {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 50%;
                padding: 50px;
                position: relative;
                z-index: 1;

                @media #{$mobile} {
                    width: 100%;
                    margin: 20px auto auto auto;
                }

                h2 {
                    font-weight: bold;
                }

                .style {
                    color: $color-two;
                    font-weight: bold;
                }

                p:nth-child(4) {
                    color: #383838;
                }

                .btn-container {
                    display: flex;

                    .resume-btn,
                    .contact-btn {
                        padding: 10px 20px;
                        border-radius: 25px;
                        display: flex;
                        align-items: center;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .resume-btn {
                        color: white;
                        margin-right: 20px;
                        background-color: $color-two;

                        &:hover {
                            background-color: #c6b176;
                        }
                    }

                    .contact-btn {
                        border: 2px solid $color-two;

                        &:hover {
                            border: 2px solid #c6b176;
                            background-color: #c6b176;
                            color: white;
                        }
                    }
                }
            }

            .right {
                width: 50%;
                background-image: url("/images/self-photo.png");
                transform: scaleX(-1);
                background-repeat: no-repeat;
                background-position: 20% 50%;
                position: relative;
                background-size: cover;
                z-index: 0;
            }
        }

        .about {
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 45vh;

            .faded-overlay {
                display: flex;
                flex-direction: row;

                .about-container {
                    padding: 0 50px;

                    .header {
                        font-weight: bold;
                        color: $color-two;
                        text-align: center;
                        margin: 50px 0;
                    }

                    .description {
                        margin: 110px 0;
                    }

                    .info-container {

                        .name,
                        .phone,
                        .email {
                            display: flex;

                            div {
                                width: 25%;
                            }

                        }
                    }
                }
            }
        }

        .skills {
            background-color: $color-one;
            height: 45vh;
            padding: 25px;

            .skills-header {
                margin: 50px 0;
                text-align: center;
                font-weight: bold;
                color: $color-two;
            }

            .skills-container {
                display: flex;

                .left {
                    padding-left: 50px;
                }

                .right {
                    padding-right: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }

                .left,
                .right {
                    width: 50%;

                    .skill-container {
                        margin-bottom: 20px;
                    }
                }

                .skill-container {
                    width: 90%;

                    .header {
                        width: auto;
                        font-weight: bold;
                        color: #6a5d5d;

                        span {
                            margin-left: auto;
                        }
                    }

                    .skill-bar {
                        height: 10px;
                        border: 1px solid #00000042;
                    }

                    #barBackground {
                        width: 100%;
                        background-color: #fff;
                        border-radius: 10px;
                    }

                    .bar {
                        height: 10px;
                        background-color: $color-two;
                        border-radius: 10px;
                    }

                    #vue,
                    #php,
                    #mysql,
                    #html,
                    #cssScss {
                        width: 1%;
                    }
                }
            }
        }

        .education-work {
            height: 50vh;

            .faded-overlay {
                .education-work-header {
                    text-align: center;
                    margin: 50px 0;
                    font-weight: bold;
                    color: $color-two;
                }

                .education-work-container {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    margin: 70px 0;

                    .education,
                    .experience {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;

                        .header {
                            margin-bottom: 15px;
                            font-weight: bold;
                            color: #6a5d5d;
                            display: flex;
                            align-items: center;
                            min-width: 140px;
                            justify-content: center;
                        }

                        .content-container {
                            display: flex;
                            flex-direction: column;
                            padding: 5px 23px;
                            margin-bottom: 15px;
                            border-left-color: #9d8c5d;
                            border-left-style: solid;
                            border-left-width: 2px;
                            min-width: 260px;
                            background-color: #dedede00;

                            .exp-gradient {
                                background-color: grey;
                            }

                            .title {
                                font-style: italic;
                            }

                            &:hover {
                                cursor: default;

                                .text,
                                .title,
                                .date {
                                    color: #6a5d5d;
                                }

                            }
                        }
                    }
                }
            }
        }

        .product {
            height: 65vh;
            background-color: $color-one;
            padding: 25px;

            .skills-header {
                text-align: center;
                font-weight: bold;
                color: $color-two;
                margin: 50px 0 30px 0;
            }

            .top,
            .bottom {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }

            .offer-container {

                .fa {
                    position: relative;
                    top: 14px;
                    right: 25px;
                    background-color: $color-two;
                    padding: 10px;
                    border-radius: 10px;
                    color: white;
                    box-shadow: 2.9px 8px 3.3px rgba(0, 0, 0, 0.48);
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    transition: all .2s;
                    -moz-transition: all .2s;
                    -webkit-transition: all .2s;
                    -o-transition: all .2s;
                }

                .fa::before {
                    font-size: 25px;
                }

                .offer-box {
                    border: 1px solid #00000030;
                    border-radius: 5px 25px 5px 5px;
                    padding: 20px;
                    width: 280px;
                    height: 140px;

                    top: 20px;

                    .header {
                        font-weight: bold;
                        margin-bottom: 10px;
                        color: #6a5d5d;
                    }
                }

                &:hover {
                    cursor: pointer;

                    .fa {
                        top: 5px;
                    }

                    .text {
                        color: #6a5d5d;
                    }
                }
            }
        }

        .recent-works {
            height: 48vh;

            .faded-overlay {
                .header {
                    text-align: center;
                    font-weight: bold;
                    color: $color-two;
                    margin: 50px 0;
                }

                .works-container {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    .work {
                        height: 180px;
                        width: 260px;
                        background-color: grey;
                        border-radius: 10px;
                        box-shadow: 1px 0px 13.5px rgba(0, 0, 0, 0.5);

                        transition: all .2s;
                        -moz-transition: all .2s;
                        -webkit-transition: all .2s;
                        -o-transition: all .2s;

                        &.coffee,
                        &.black-white,
                        &.finder {
                            background-size: cover;
                            background-repeat: no-repeat;
                        }

                        &.coffee {
                            background-image: url("/images/coffee-site-preview.png");
                        }

                        &.black-white {
                            background-image: url("/images/black-white-site-preview.png");
                        }

                        &.finder {
                            background-image: url("/images/business-finder-preview.png");
                        }

                        &:hover {
                            position: relative;
                            cursor: pointer;
                            box-shadow: 6px 0px 17px rgba(0, 0, 0, 0.699);
                            bottom: 5px;
                        }
                    }
                }
            }
        }

        .contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 45vh;
            background-color: $color-one;
            padding: 25px 20%;

            .header {
                text-align: center;
                font-weight: bold;
                color: $color-two;
            }

            .contact-container {
                display: flex;
                flex-direction: column;

                .fa {
                    font-size: 40px;
                }

                #group-contact,
                #group-message {

                    #name,
                    #subject {
                        margin-bottom: 1rem;
                    }
                }

                .form-control {
                    border-radius: 10px;
                }

                .btn-container {
                    display: flex;
                    justify-content: center;

                    .btn {
                        background-color: $color-two;
                        border-color: $color-two;
                        border-radius: 25px;

                        &:hover {
                            cursor: pointer;
                            border-color: #c6b176;
                            background-color: #c6b176;
                        }
                    }
                }
            }
        }

        .footer {
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #9d8c5d;
            color: white;
            font-weight: bold;
            font-size: 18px;
        }
    }

    .modal-content {
        border-radius: 15px;
        height: 320px;
    }

    .modal-backdrop {
        opacity: 0.5 !important;
    }

}