@import "resources/sass/_variables.scss";
@import "resources/sass/_responsive.scss";

.main {
    display: flex;

    .side-nav {
        background-color: aquamarine;
        position: sticky;
        width: 200px;

        position: -webkit-sticky;
        position: sticky;
        top: 0;

        @media #{$mobile} {
            display: none;
        }

        .initials,
        .button {
            color: #256c62;
        }

        .initials {
            font-size: 35px;
            text-align: center;
            padding: 30px;
            background-color: #57dbae;
            position: sticky;
            top: 0;
        }

        .button-container {
            position: sticky;
            top: 325px;
        }

        .button {
            padding: 0 38px;
            margin: 10px;
            font-size: 22px;
            border-radius: 5px;
            height: 48px;
            display: flex;
            align-items: center;

            &:hover {
                background-color: #57dbae;
                box-shadow: 5px 10px #a8a8a85c;
            }

            .fas,
            .far {
                margin-right: 12px;
            }
        }
    }

    .content {
        background-color: #8080802b;
        width: 100%;

        .home,
        .about,
        .skills,
        .work,
        .contact {
            height: 100vh;
            padding: 50px;

            .header {
                display: flex;
                width: 100px;

                hr {
                    width: 40px;
                    margin-top: 12px;
                    border-top: 2px solid rgba(0, 0, 0, 0.45);
                }
            }

            .card {
                padding: 16px;
                border-radius: 15px;
            }
        }

        .home {
            display: flex;

            @media #{$mobile} {
                flex-direction: column;
            }

            .image {
                min-width: 150px;
                height: 150px;
                background-color: purple;
                margin: auto 50px auto auto;

                @media #{$mobile} {
                    margin: auto auto 20px auto;
                    width: 250px;
                    height: 300px;
                }
            }

            .home-content {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin: auto;

                @media #{$mobile} {
                    width: 100%;
                    margin: 20px auto auto auto;
                }

                p:nth-child(2) {
                    font-size: 42px;

                    span {
                        color: #57dbae;
                    }
                }

                p:nth-child(3) {
                    span {
                        color: #57dbae;
                    }
                }


            }
        }
    }
}


// .banner,
// .projects,
// .experiences {
//     @include theme-colors($light-theme: true, $alt: false);

//     .accent {
//         @include theme-colors($light-theme: true, $alt: false, $accent: true);
//     }

//     &.dark {
//         @include theme-colors($light-theme: false, $alt: false);

//         .accent {
//             @include theme-colors($light-theme: false, $alt: false, $accent: true);
//         }
//     }
// }

// .description,
// .skills {
//     @include theme-colors($light-theme: true, $alt: true);

//     .accent {
//         @include theme-colors($light-theme: true, $alt: true, $accent: true);
//     }

//     &.dark {
//         @include theme-colors($light-theme: false, $alt: true);

//         .accent {
//             @include theme-colors($light-theme: false, $alt: true, $accent: true);
//         }
//     }
// }

// .banner {
//     height: 500px;
// }

// .descriptions,
// .projects,
// .skills,
// .contact-medias {
//     height: 400px;
// }

// .experiences {
//     height: 600px;
// }

// .banner {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;

//     .logo,
//     .name,
//     .theme-btn {
//         font-size: 40px;
//         padding: 20px;
//     }
// }

// .description {
//     height: 300px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     justify-content: space-around;

//     .photo {
//         height: 200px;
//         width: 200px;
//     }

//     .text {
//         height: 200px;
//         width: 850px;
//     }
// }

// .projects,
// .skills,
// .experiences {

//     .header {
//         text-align: center;
//         font-size: 40px;
//         padding: 30px 0;
//     }

//     .content {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         justify-content: space-around;

//         &.experience {
//             .row {
//                 .col {
//                     .row {
//                         height: 150px;

//                         .circle {
//                             height: 100px;
//                             width: 100px;
//                             border-radius: 100px;
//                             background-color: black;
//                         }
//                     }
//                 }
//             }

//             .vertical-line {
//                 border: 5px solid black;
//                 height: 400px;
//                 margin: 0 100px;
//             }
//         }
//     }

//     .project,
//     .skill {
//         height: 200px;
//         width: 200px;
//     }

//     .skill {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         font-size: 40px;
//     }
// }

// .contact-medias {
//     background-color: $light-five;

//     &.dark {
//         background-color: $dark-five;
//     }
// }